
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
	background-color: #000;
}
.gallery {
	background-color: #212225;
	width: 830px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #999;
	height: 670px;
	overflow: hidden; /*Avoids showing all of the images momentarily while JS loads */
	border-radius: 6px;
}
.gallery img {
	margin: 15px;
}

/*
#nav a {

	display:inline-block;

	border:1px solid white;

	border-radius:20px;

	margin: 20px 10px;

	color:white;

	font-weight:bold;

	width:30px;

	height:30px;

	text-align:center;

	line-height: 30px;

	text-decoration:none;

	font-family:Arial;

	transition:.5s;

}



#nav a:hover{

	background:rgba(255,255,255,.25);

}



#nav a.activeSlide{

	background:rgba(255,255,255,.35);

}



#nav{

	display:flex;

	justify-content:center;

}
*/